<% if (!is_revealed) { %>
    <a href="/submit-answer?is_correct=<%= trivia_answer.is_correct %>" style="width: 300px; height: 90px;" class="m-2 btn btn-secondary d-flex align-items-center justify-content-center" tabindex="-1">
        <p class="m-0"><%= trivia_answer.content %></p>
    </a>
<% } else { %>
    <% if (trivia_answer.is_correct) { %>
        <a style="width: 300px; height: 90px;" class="m-2 btn btn-success d-flex align-items-center justify-content-center disabled" tabindex="-1">
    <% } else { %>
        <a style="width: 300px; height: 90px;" class="m-2 btn btn-danger d-flex align-items-center justify-content-center disabled" tabindex="-1">
    <% } %>
            <p class="m-0"><%= trivia_answer.content %></p>
        </a>
<% } %>